.u-section-1 .u-sheet-1 {
    min-height: 1146px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-bottom: 49px;
  }
  
  .u-section-1 .u-layout-cell-1 {
    background-image: none;
    min-height: 1036px;
  }
  
  .u-section-1 .u-shape-1 {
    width: 509px;
    height: 805px;
    margin: 118px auto 0 0;
  }
  
  .u-section-1 .u-image-1 {
    width: 530px;
    object-position: 50% 0%;
    background-position: 50% 0%;
    height: 863px;
    margin: -922px 0 0 auto;
  }
  
  .u-section-1 .u-layout-cell-2 {
    background-image: none;
    min-height: 419px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .u-section-1 .u-shape-2 {
    width: 40px;
    height: 40px;
    background-image: none;
    margin: 15px auto 0 211px;
  }
  
  .u-section-1 .u-shape-3 {
    width: 76px;
    height: 76px;
    background-image: none;
    margin: 5px 131px 0 auto;
  }
  
  .u-section-1 .u-shape-4 {
    width: 100px;
    height: 100px;
    background-image: none;
    margin: -27px auto 0 85px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin: 35px 60px 0 0;
  }
  
  .u-section-1 .u-layout-cell-3 {
    min-height: 617px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 60px 30px 30px;
  }
  
  .u-section-1 .u-group-1 {
    width: 638px;
    min-height: 276px;
    background-image: none;
    box-shadow: 10px 11px 40px 0 rgba(51,41,49,0.25);
    height: auto;
    margin: 0 0 0 -147px;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-2 {
    margin: 0;
  }
  
  .u-section-1 .u-shape-5 {
    width: 237px;
    height: 237px;
    background-image: none;
    margin: 66px 0 0 254px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 964px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 1001px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 449px;
      height: 721px;
    }
  
    .u-section-1 .u-image-1 {
      width: 437px;
      height: 791px;
      margin-top: -838px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 345px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 553px;
    }
  
    .u-section-1 .u-group-1 {
      width: 598px;
      margin-left: -204px;
      height: auto;
    }
  
    .u-section-1 .u-shape-5 {
      margin-left: 157px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1576px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 885px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 509px;
      height: 804px;
      margin-top: 0;
    }
  
    .u-section-1 .u-image-1 {
      width: 661px;
      height: 827px;
      margin-top: -747px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      order: 1;
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 453px;
      order: 0;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-top: 30px;
    }
  
    .u-section-1 .u-group-1 {
      width: 569px;
      min-height: 251px;
      margin-top: -91px;
      margin-left: auto;
    }
  
    .u-section-1 .u-shape-5 {
      width: 169px;
      height: 169px;
      margin-top: 45px;
      margin-left: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1260px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 804px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 491px;
      height: 674px;
    }
  
    .u-section-1 .u-image-1 {
      height: 751px;
      width: 489px;
      margin-top: -620px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 386px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-group-1 {
      width: 453px;
      min-height: 215px;
      margin-right: -20px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-shape-5 {
      margin-top: 31px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 908px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 566px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 301px;
      height: 480px;
    }
  
    .u-section-1 .u-image-1 {
      width: 301px;
      height: 485px;
      margin-top: -437px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 289px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-right: 25px;
      padding-left: 10px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 164px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .u-section-1 .u-shape-5 {
      width: 134px;
      height: 134px;
      margin-top: 20px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 802px;
  }
  
  .u-section-2 .u-text-1 {
    font-weight: 700;
    margin: 62px auto 0;
  }
  
  .u-section-2 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    margin: 62px 0 60px;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 408px;
    grid-gap: 10px;
  }
  
  .u-section-2 .u-image-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://assets.nicepagecdn.com/945ec4a3/5535176/images/app-ui-design-with-rounded-corners.jpeg');
    background-position: 50% 50%;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px 16px;
  }
  
  .u-section-2 .u-group-1 {
    width: 315px;
    min-height: 114px;
    height: auto;
    margin: 234px auto 0 0;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }
  
  .u-section-2 .u-text-2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 18px 26px 0 0;
  }
  
  .u-section-2 .u-text-3 {
    margin: 0 14px 0 0;
  }
  
  .u-section-2 .u-image-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://assets.nicepagecdn.com/945ec4a3/5535176/images/5513de119bf23536d4617f5611ac100f.jpg');
    background-position: 50% 50%;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px 16px;
  }
  
  .u-section-2 .u-group-2 {
    width: 315px;
    min-height: 114px;
    height: auto;
    margin: 234px auto 0 0;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }
  
  .u-section-2 .u-text-4 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 18px 26px 0 0;
  }
  
  .u-section-2 .u-text-5 {
    margin: 0 14px 0 0;
  }
  
  .u-section-2 .u-image-3 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://assets.nicepagecdn.com/945ec4a3/5535176/images/849f2aa54e1433bb4231adb4bccc896e.jpg');
    background-position: 50% 50%;
  }
  
  .u-section-2 .u-container-layout-5 {
    padding: 30px 16px;
  }
  
  .u-section-2 .u-group-3 {
    width: 315px;
    min-height: 114px;
    height: auto;
    margin: 234px auto 0 0;
  }
  
  .u-section-2 .u-container-layout-6 {
    padding-left: 14px;
    padding-right: 14px;
  }
  
  .u-section-2 .u-text-6 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 18px 26px 0 0;
  }
  
  .u-section-2 .u-text-7 {
    margin: 0 14px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-list-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-repeater-1 {
      min-height: 375px;
    }
  
    .u-section-2 .u-group-1 {
      height: auto;
    }
  
    .u-section-2 .u-group-2 {
      height: auto;
    }
  
    .u-section-2 .u-group-3 {
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 5px));
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(1, 100%);
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-5 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 416px;
  }
  
  .u-section-3 .u-text-1 {
    font-weight: 700;
    width: 442px;
    margin: 144px auto 0;
  }
  
  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 300;
    width: 780px;
    margin: 20px auto 0;
  }
  
  .u-section-3 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 2px;
    margin: 30px auto 60px;
    padding: 6px 24px 7px 23px;
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-text-2 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-text-2 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-text-1 {
      width: 340px;
    }
  
    .u-section-3 .u-text-2 {
      width: 340px;
    }
  } .u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 1009px;
  }
  
  .u-section-4 .u-list-1 {
    width: 778px;
    height: auto;
    min-height: 293px;
    margin: 54px 0 60px 362px;
  }
  
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 293px;
    grid-gap: 20px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 0 13px 20px;
  }
  
  .u-section-4 .u-icon-1 {
    width: 95px;
    height: 95px;
    background-image: none;
    margin: -26px auto 0 17px;
    padding: 15px;
  }
  
  .u-section-4 .u-text-1 {
    line-height: 1.8;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 23px 17px 0;
  }
  
  .u-section-4 .u-btn-1 {
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 50px auto 0 17px;
    padding: 15px 41px 17px 39px;
  }
  
  .u-section-4 .u-list-item-2 {
    background-image: none;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 0 13px 20px;
  }
  
  .u-section-4 .u-icon-2 {
    width: 95px;
    height: 95px;
    background-image: none;
    margin: -26px auto 0 17px;
    padding: 15px;
  }
  
  .u-section-4 .u-text-2 {
    line-height: 1.8;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 23px 17px 0;
  }
  
  .u-section-4 .u-btn-2 {
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 50px auto 0 17px;
    padding: 15px 41px 17px 39px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-list-1 {
      margin-left: 162px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-list-1 {
      width: 720px;
      margin-left: 0;
    }
  
    .u-section-4 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 695px;
    }
  
    .u-section-4 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-4 .u-text-2 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-list-1 {
      width: 540px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-list-1 {
      width: 340px;
    }
  } .u-section-5 {
    background-image: none;
    min-height: 246px;
  }
  
  .u-section-5 .u-group-1 {
    min-height: 843px;
    height: auto;
    margin-top: -646px;
    margin-bottom: 49px;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding: 80px 0 0;
  }
  
  .u-section-5 .u-text-1 {
    font-weight: 700;
    font-size: 3.75rem;
    width: 344px;
    margin: 0 auto;
  }
  
  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    width: 624px;
    font-weight: 700;
    margin: 17px auto 0;
  }
  
  .u-section-5 .u-form-1 {
    height: 211px;
    width: 624px;
    margin: 28px auto 0;
  }
  
  .u-section-5 .u-btn-1 {
    background-image: none;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 9px 0 11px;
  }
  
  .u-section-5 .u-list-1 {
    width: 1155px;
    margin: 130px auto 0;
  }
  
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 249px;
    grid-gap: 0px;
  }
  
  .u-section-5 .u-list-item-1 {
    background-image: none;
  }
  
  .u-section-5 .u-container-layout-2 {
    padding: 0 30px 60px;
  }
  
  .u-section-5 .u-icon-1 {
    width: 123px;
    height: 123px;
    background-image: none;
    color: rgb(0, 0, 0) !important;
    margin: -42px auto 0;
    padding: 31px;
  }
  
  .u-section-5 .u-text-3 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin: 35px 0 0;
  }
  
  .u-section-5 .u-text-4 {
    margin: 17px 0 0;
  }
  
  .u-section-5 .u-list-item-2 {
    background-image: none;
  }
  
  .u-section-5 .u-container-layout-3 {
    padding: 0 30px 60px;
  }
  
  .u-section-5 .u-icon-2 {
    width: 123px;
    height: 123px;
    background-image: none;
    color: rgb(0, 0, 0) !important;
    margin: -42px auto 0;
    padding: 31px;
  }
  
  .u-section-5 .u-text-5 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin: 35px 0 0;
  }
  
  .u-section-5 .u-text-6 {
    margin: 17px 0 0;
  }
  
  .u-section-5 .u-list-item-3 {
    background-image: none;
  }
  
  .u-section-5 .u-container-layout-4 {
    padding: 0 30px 60px;
  }
  
  .u-section-5 .u-icon-3 {
    width: 123px;
    height: 123px;
    background-image: none;
    color: rgb(0, 0, 0) !important;
    margin: -42px auto 0;
    padding: 31px;
  }
  
  .u-section-5 .u-text-7 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin: 35px 0 0;
  }
  
  .u-section-5 .u-text-8 {
    margin: 17px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-group-1 {
      height: auto;
    }
  
    .u-section-5 .u-list-1 {
      width: 940px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: repeat(3, 33.333333333333336%);
      min-height: 202px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 50px;
    }
  
    .u-section-5 .u-text-3 {
      font-size: 1.25rem;
    }
  
    .u-section-5 .u-text-4 {
      font-size: 1rem;
    }
  
    .u-section-5 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 50px;
    }
  
    .u-section-5 .u-text-5 {
      font-size: 1.25rem;
    }
  
    .u-section-5 .u-text-6 {
      font-size: 1rem;
    }
  
    .u-section-5 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 50px;
    }
  
    .u-section-5 .u-text-7 {
      font-size: 1.25rem;
    }
  
    .u-section-5 .u-text-8 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-5 {
      min-height: 1081px;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-top: 75px;
    }
  
    .u-section-5 .u-list-1 {
      width: 720px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: repeat(2, 50%);
      min-height: 464px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-bottom: 30px;
    }
  
    .u-section-5 .u-container-layout-3 {
      padding-bottom: 30px;
    }
  
    .u-section-5 .u-container-layout-4 {
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-5 {
      min-height: 1529px;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-top: 70px;
    }
  
    .u-section-5 .u-text-1 {
      font-size: 3rem;
    }
  
    .u-section-5 .u-text-2 {
      width: 540px;
    }
  
    .u-section-5 .u-form-1 {
      width: 540px;
    }
  
    .u-section-5 .u-list-1 {
      width: 540px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 90px;
    }
  
    .u-section-5 .u-text-3 {
      font-size: 1.5rem;
    }
  
    .u-section-5 .u-text-4 {
      font-size: 1.25rem;
    }
  
    .u-section-5 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 90px;
    }
  
    .u-section-5 .u-text-5 {
      font-size: 1.5rem;
    }
  
    .u-section-5 .u-text-6 {
      font-size: 1.25rem;
    }
  
    .u-section-5 .u-container-layout-4 {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 90px;
    }
  
    .u-section-5 .u-text-7 {
      font-size: 1.5rem;
    }
  
    .u-section-5 .u-text-8 {
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-container-layout-1 {
      padding-top: 65px;
    }
  
    .u-section-5 .u-text-1 {
      font-size: 1.875rem;
      width: 340px;
    }
  
    .u-section-5 .u-text-2 {
      width: 340px;
    }
  
    .u-section-5 .u-form-1 {
      width: 340px;
    }
  
    .u-section-5 .u-list-1 {
      width: 340px;
    }
  
    .u-section-5 .u-repeater-1 {
      min-height: 831px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 70px;
    }
  
    .u-section-5 .u-icon-1 {
      width: 108px;
      height: 108px;
      margin-top: -31px;
      padding: 27px;
    }
  
    .u-section-5 .u-text-3 {
      margin-top: 30px;
    }
  
    .u-section-5 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 70px;
    }
  
    .u-section-5 .u-icon-2 {
      width: 108px;
      height: 108px;
      margin-top: -31px;
      padding: 27px;
    }
  
    .u-section-5 .u-text-5 {
      margin-top: 30px;
    }
  
    .u-section-5 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 70px;
    }
  
    .u-section-5 .u-icon-3 {
      width: 108px;
      height: 108px;
      margin-top: -31px;
      padding: 27px;
    }
  
    .u-section-5 .u-text-7 {
      margin-top: 30px;
    }
  }